$green: #4af6cd;
$bg: #171919;

%funnelDisplay-300 {
  font-family: "FunnelDisplay-Light", sans-serif;
  font-weight: 300;
}

%funnelDisplay-400 {
  font-family: "FunnelDisplay-Regular", sans-serif;
  font-weight: 400;
}

%funnelDisplay-600 {
  font-family: "FunnelDisplay-SemiBold", sans-serif;
  font-weight: 600;
}

%funnelDisplay-700 {
  font-family: "FunnelDisplay-Bold", sans-serif;
  font-weight: 700;
}

%ubuntu-300{
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
}

%ubuntu-500{
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

%ubuntu-700{
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}