.about {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
  }
  &__text {
    max-width: 440px;
    margin-top: 55px;
    p {
      margin-bottom: 30px;
    }
  }
  &__slider {
    max-width: 560px;
    &::before {
      content: "";
      position: absolute;
      width: 560px;
      height: 276px;
      border: 4px solid #fff;
      top: -15px;
      right: -17px;
      
    }
  }
  &__slider-box {
    position: relative;
    padding-top: 140px;
  }
  &__slider-text {
    width: 281px;
    position: absolute;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    @extend %ubuntu-500;
    bottom: 34px;
    right: 530px;
    z-index: 5;
  }
}
.slider-btn {
  padding: 16px 26px;
  border: none;
  background-color: #fff;
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 5;
  bottom: -45px;
  svg {
    stroke: #000;
  }
  &__left {
    right: 60px;
  }
  &.slick-disabled {
    background-color: #000;
    svg {
      stroke: #fff;
    }
  }
}
